/* Heading style */
h1{
    color: red;
}
/* Complete todo items */
.completed{
    text-decoration: line-through;
    color: gray;
}

/* Non-complete todo items */
.not{
    text-decoration: underline;
}